nav{
    width: 100%;
    height: 100px;
    background-color: rgb(45, 45, 45);
    margin-top: -20px;
}

.logo{
    height: 50px;
    float: left;
    font-family: 'Russo One', sans-serif;
    margin-top: 20px;
    color: white;
    margin-left: 50px;
}

.nav-con{
    height: 50px;
    margin-right: 40px;
    color: white;   
}
.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    font-size: 18px;
    padding-left: 40px;
    margin-top: 40px;
    float: right;
}

.overlay{
    width: 600px;
    height: 500px;
    background-color: rgba(0,0,0,0.6);
    padding-top: 80px;
    padding-left: 200px;
    opacity: 0;
}

.image{
    width: 600px;
    height: 500px;
    margin-left: 50px;
    margin-top: 80px;
    background-image: url(../assets/rocket.png);
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 20px;
}

.text{
    margin-top: 50px;
    
}

.text h1{
    padding-top: 20px;
}

.text h3{
    padding-bottom: 20px;
}


.line{
    width: 100px;
    height: 2px;
    background-color: white;
}

.text p{
    padding-top: 20px;
}

.button{
    height: 35px;
    width: 250px;
    color: white;
    border: 2px solid white;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 50px;
    border-radius: 5px;
}

.info{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-top: 90px;
    margin-left: 100px;
   
}

.info h1{
    font-family: 'Russo One', sans-serif;
}

.info{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.form-input{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 5px;
    color: white;
    background-color:rgb(214, 213, 213);
    cursor: pointer;
}

.point{
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Russo One', sans-serif;
    background-color: #2b2b2b;
    color: white;
}

footer{
    width: 100%;
    height: 100px;
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: #2b2b2b;
}